

header{
    width: 100%;
    padding: 4rem 0;
    nav{
        @include flex(flex, space-around, center);
        h1{
            font-size: 3em;
            color: coral;
        }   
        ul{
            @include flex(flex, space-around, center);
            list-style-type: none;
            li{
                a{
                    font-size: 2em;
                    color: coral;
                }
            }
        }
    }

}